.test {
  background-color: rgb(223, 250, 223) !important;
  border-color: rgb(28, 129, 28) !important;
  color: #000 !important;
}

.test:hover {
  background-color: rgb(121, 245, 121) !important;
}
