.title {
  padding: 40px 40px 0;
}

.title h1 {
  font-size: 50px;
  font-weight: 100;
}

.link {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
